@import "reset-css";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #F9F7FC;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
}
